* {
  font-family: helvetica, sans-serif;
  text-align: center;
}
.header {
  /*set background-image relative to style.css*/
background-image: url(../the-flatiron-building.jpg);
/*code below helped correct image issue*/
background-position: center;
background-size: cover;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.header p a{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
h2  {
  font-size: 32px;
  font-weight: bold;
}
h3  {
  font-size: 23px;
  font-weight: bold;
}
h3 p {
  font-size: 14px;
}
.designer {
  /*set background-image relative to style.css*/
background-image: url(../the-flatiron-building.jpg);
background-position: center;
/*code below helped correct image issue*/
background-size: cover;
color: white;
font-size: 23px;
font-weight: bold;
}
.footer p{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
.footer a {
  font-size: 23px;
  color: white;
  text-align: left;
}
