* {
  font-family: helvetica, sans-serif;
  text-align: center;
}
.header {
background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.jpg);
0px 0px, 10px 10px;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;

}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.header p a{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
h2  {
  font-size: 32px;
  font-weight: bold;
}
h3  {
  font-size: 23px;
  font-weight: bold;
}
h3 p {
  font-size: 14px;
}
.designer {
background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.jpg);
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
color: white;
font-size: 23px;
font-weight: bold;
}
